<!DOCTYPE html>
<html lang="en">
<head></head>

<body>
<header></header>

  <main>
    <div>
      <h1>ANIMAL SHELTER</h1>
      <h4>Add an animal</h4>
      <form class="animal-form" action="/animals" method="post">
        <% include _form %>
      <button type="submit" class="btn btn-success">Add an Animal</button>
      </form>
    </div>
  </main>
</body>
</html>
