<h1>New Author</h1>

<form method="post" action="/posts">
  <label for="post_firstName">First Name</label><br>
  <input type="text" name="post[firstName]" id="post_title"><br>

  <label for="post_lastName">Last Name</label><br>
  <input type="text" name="post[lastName]" id="post_author"><br>

  <label for="post_books">Books</label><br>
  <textarea name="post[books]"></textarea><br>

  <button>Go go gadget Postmaker</button><br>
</form>
