<h1>New Author</h1>

<form method="post" action="/authors">
  <label for="post_title">First Name</label><br>
  <input type="text" name="post[title]" id="post_title"><br>

  <label for="post_author">Last Name</label><br>
  <input type="text" name="post[author]" id="post_author"><br>

  <label for="post_content">Date of Birth</label><br>
  <textarea name="post[content]"></textarea><br>

  <button>Go go gadget Postmaker</button><br>
</form>
